.join{
  background:white;
  height:100vh;
  padding:0 32px;
}
.saledes .saledsp,.advc .advch,.join .joinspan,.mycomheader .company,.advantage .advhes{
  font-size: 30px;
  color:#333333;
  position: relative;
  z-index: 2;
  display: inline-flex;
  margin-top:40px;
  margin-bottom: 40px;
}
.saledes .saledsp::after,.advc .advch::after,.advantage .advhes::after,.join .joinspan::after,.mycomheader .company::after{
  position: absolute;
  bottom: 0;
  left:0;
  content: '';
  width:100%;
  height:16px;
  background: #FBE6FA;
  z-index: -1;
}
.joininfo{
  margin-top:107px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border:1px solid #E3E3E3;
  position: relative;
  height:365px;
}
.joininfo img{
  width:245px;
  height:158px;
  position: absolute;
  left:50%;
  top:0;
  margin-left:calc(-245px / 2);
  margin-top: calc(-158px / 2);
}
.joininfop{
  position: absolute;
  top:167px;
  left:134px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#333333;
  font-size: 26px;
}
.joininfop p{
  margin-bottom: 10px;
}
.mysyheader{
  display: flex;
  padding:60px 32px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:227px;
  background:linear-gradient(135deg,rgba(156,64,162,1) 0%,rgba(66,44,148,1) 100%);
}
.mysyheader .button{
  background:white;
  border-radius: 10px;
  width:192px;
  height:74px;
  font-size: 32px;
  color:#452F96;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}
.mysys1{
  font-size: 24px;
  color:white;
}
.mysys2{
  font-size: 72px;
  color:white;
  margin-left:-10px;
}
.mysyl{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.syitems{
  height:100vh;
  background: #f5f5f5;
  padding:32px;
}
.txitem{
  background:white;
  height:85px;
  border-radius:8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 30px;
  margin-bottom: 21px;
}
.txitem span:nth-child(1){
  color:#333333;
  font-size: 24px;
}
.txitem span:nth-child(2){
  font-size: 32px;
  color:#9C3FA2;
}
.sritem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding:30px;
  margin-bottom: 21px;
}

.sriteml{
  display: flex;
  flex-direction: column;
  width:60%;
  font-size: 24px;
}
.sriteml .s1l{
  color:#333333;
  margin-bottom: 10px;
}
.sriteml .s2l{
  color:#666666;
}
.sritemr{
  font-size: 32px;
  color:#9C3FA2;
  width:40%;
  text-align: right
}
.myaddress{
  display: flex;
  flex-direction: column;
  background:#eeeeee;
  height:100vh;
}
.myacontent{
  background: white;
  padding-left:32px;
  padding-right:32px;
}
.myaoptions{
  display: flex;
  margin-top:10px;
  height: 93px;
  background:white;
  padding-left:32px;
  padding-right:32px;
}
.mybtn{
  position: fixed;
  left:0;
  bottom: 0;
  width:100%;
  height:98px;
  background: #9C3FA2;
  color:white;
  font-size: 34px;
  text-align: center;
  line-height: 98px;
}
.zonesel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.zonesel .addnext{
  width:10px;
  height:18px;
}
.zonesel-van{
  width:95%
}
.zonesel .van-field__label{
  width:30%;
}
.zonesel .van-cell_value{
  width:70%;
}
.addresslist{
  background:#eeeeee;
  padding:15px 32px;
  height:100vh;
}
.addressItem{
  background:white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* padding:28px 30px; */
  margin-bottom: 20px;
}
.addressfix{
    padding:28px 30px;
}
.username{
  display: flex;
  flex-direction: row;
  font-size: 32px;
  color:#333333;
  justify-content: space-between;
  margin-bottom: 15px;
}
.adrinfo{
  font-size: 28px;
  color:#333333;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
}
.adrfun{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 28px;
  color:#333;
  height:40px;
  align-items: center;
  padding-top:15px;
}
.adredit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.adredit img{
  width:30px;
  height:30px;
  margin-right:15px;
}
.van-radio__icon--round .van-icon{
  border-radius: 0%;
}
.adrfunheight{
  height:40px;
}
.adrfunheight .van-radio__icon{
  height:30px;
}
.adrfunheight .van-radio__icon--round{
  line-height: 40px;
}
.adrfunheight .van-icon{
  width:30px;
  height:30px;
}
.adrfunheight .van-checkbox__icon{
  display: flex;
  align-items: center;
}
.mycompany{
  padding-left:32px;
  padding-right:32px;
  padding-bottom: 98px;
}
